In [1]:
import pandas as pd

In [4]:
df1 = pd.read_csv('./evaluate_data_hyw.csv')
df1.head()

,coherence_persona,engagingness_persona,groundedness_persona,naturalness_persona,coherence_no_persona,engagingness_no_persona,groundedness_no_persona,naturalness_no_persona
0,1,2,1,5,4,2,3,5
1,5,3,5,5,5,4,5,5
2,1,1,1,1,3,3,1,1
3,3,3,3,5,3,2,3,5
4,5,4,3,5,5,4,3,5

In [3]:
df1.mean()

coherence_persona          4.166667
engagingness_persona       4.166667
groundedness_persona       4.074074
naturalness_persona        4.481481
coherence_no_persona       3.592593
engagingness_no_persona    3.222222
groundedness_no_persona    3.259259
naturalness_no_persona     3.851852
dtype: float64

In [5]:
df2 = pd.read_csv('./evaluate_data_jsj.csv')
df2.head()

,coherence_persona,engagingness_persona,groundedness_persona,naturalness_persona,coherence_no_persona,engagingness_no_persona,groundedness_no_persona,naturalness_no_persona
0,2,1,2,3,2,4,3,3
1,5,4,5,5,5,5,5,5
2,5,3,3,5,1,1,1,1
3,5,4,4,5,5,4,4,5
4,3,5,3,4,5,5,3,5

In [6]:
df2.mean()

coherence_persona          3.592593
engagingness_persona       3.796296
groundedness_persona       3.074074
naturalness_persona        3.518519
coherence_no_persona       3.648148
engagingness_no_persona    3.851852
groundedness_no_persona    3.074074
naturalness_no_persona     3.018519
dtype: float64

In [7]:
df3 = pd.read_csv('./evaluate_data_sdh.csv')
df3.head()

,coherence_persona,engagingness_persona,groundedness_persona,naturalness_persona,coherence_no_persona,engagingness_no_persona,groundedness_no_persona,naturalness_no_persona
0,1,1,1,1,5,5,5,3
1,4,4,4,4,5,5,5,4
2,3,3,3,3,2,2,2,2
3,5,5,5,5,5,4,5,5
4,5,5,5,5,5,5,5,5

In [8]:
df3.mean()

coherence_persona          4.055556
engagingness_persona       4.166667
groundedness_persona       3.981481
naturalness_persona        3.944444
coherence_no_persona       4.111111
engagingness_no_persona    4.222222
groundedness_no_persona    4.074074
naturalness_no_persona     4.018519
dtype: float64

In [9]:
df4 = pd.read_csv('./evaluate_data_smh.csv')
df4.head()

,coherence_persona,engagingness_persona,groundedness_persona,naturalness_persona,coherence_no_persona,engagingness_no_persona,groundedness_no_persona,naturalness_no_persona
0,5,4,4,5,3,1,1,2
1,5,3,1,5,3,3,1,5
2,5,1,1,5,1,5,3,2
3,5,3,1,5,5,3,1,5
4,5,2,1,5,5,4,1,5

In [12]:
df4.mean().values

array([3.59259259, 3.92592593, 1.12962963, 4.68518519, 3.57407407,
       4.11111111, 1.07407407, 4.48148148])

In [14]:
human_evaluate = pd.DataFrame(columns=df1.columns)
human_evaluate.loc[0] = df1.mean().values
human_evaluate.loc[1] = df2.mean().values
human_evaluate.loc[2] = df3.mean().values
human_evaluate.loc[3] = df4.mean().values

In [15]:
human_evaluate

,coherence_persona,engagingness_persona,groundedness_persona,naturalness_persona,coherence_no_persona,engagingness_no_persona,groundedness_no_persona,naturalness_no_persona
0,4.166667,4.166667,4.074074,4.481481,3.592593,3.222222,3.259259,3.851852
1,3.592593,3.796296,3.074074,3.518519,3.648148,3.851852,3.074074,3.018519
2,4.055556,4.166667,3.981481,3.944444,4.111111,4.222222,4.074074,4.018519
3,3.592593,3.925926,1.129630,4.685185,3.574074,4.111111,1.074074,4.481481

In [16]:
human_evaluate.mean()

coherence_persona          3.851852
engagingness_persona       4.013889
groundedness_persona       3.064815
naturalness_persona        4.157407
coherence_no_persona       3.731481
engagingness_no_persona    3.851852
groundedness_no_persona    2.870370
naturalness_no_persona     3.842593
dtype: float64